

.login{
	background-color: #00212c17 !important;
}

body{
	background-color: white !important;

}
nav{

	background-color: #0ec0d5 !important;
	
}
.expense{
	background-color: #e6b68d96 !important;
}
